/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Montserrat:400,700&display=swap");

html {
  scroll-behavior: smooth;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media only screen and (max-width: 768px){
  body {
  font-family:  "Montserrat";
  background-color: rgb(235, 235, 235);
  color: rgb(235, 235, 235);
  line-height: 1.5;
  font-size: 0.875rem;
}
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img:not(.logo) {
  width: 100%;
}
img {
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-top: 0.75rem;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: "Montserrat";
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: rgb(235, 235, 235);
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/*  global classes */
.btn {
  text-transform: uppercase;
  background: transparent;
  padding: 0.375rem 0.75rem;
  letter-spacing: 2px;
  display: inline-block;
  font-size: 0.875rem;
  border: 2px solid;
  cursor: pointer;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  text-shadow: 2px 2px #575757;
}
.btn:hover {
  color: rgb(235, 235, 235);
  background-color: rgb(235, 235, 235);
}
.btn-white {
  color: rgb(255, 255, 255);
  border-color: white;
  border-radius: 30px;
  padding: 0.5rem 1rem;
}
.btn:hover {
  background: rgb(187, 187, 187);
}

/* section */
main {
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -ms-flex: 1; /* IE 10 */
  -webkit-box-flex: 1;
          flex: 1;
  -moz-flex: 1;
}

main div {
  -ms-flex: 1; /* IE 10 */
  -webkit-box-flex: 1;
          flex: 1;
}
/*
=============== 
Scroll
===============
*/
/* navbar */
nav {
  background: white;
  padding: 1rem 1.5rem;
  z-index: 1;
}

nav .links a:hover {
  color: rgb(4, 169, 175);
  text-decoration: none;
}

nav .links-social {
  margin-top:20px;
  display: -webkit-flex;
  text-indent: 20px;
}

nav .links-social a:hover {
  color: rgb(4, 169, 175);
  text-decoration: none;
}

/* fixed nav */
.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  -webkit-box-shadow: 2px 2px #e4e4e4;
          box-shadow: 2px 2px #e4e4e4;
}
.fixed-nav .links a {
  color: grey;
}
.fixed-nav .links a:hover {
  color: rgb(4, 169, 175);
}

.fixed-nav .links-social a {
  color: grey;
}

.fixed-nav .links-social a:hover {
  color: rgb(4, 169, 175);
}

/* .fixed-nav .links-container {
  height: auto !important;
} */
.nav-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav-toggle {
  font-size: 1.5rem;
  color: grey;
  background: white;
  border-color: transparent;
  -webkit-transition: 2px 2px #575757;
  -o-transition: 2px 2px #575757;
  transition: 2px 2px #575757;
  cursor: pointer;
  border: none;
  display: invert;
}
.nav-toggle:hover {
  color: rgb(4, 169, 175);
}
.logo {
  height: 50px;
}
.links-container {
  height: 0;
  overflow: hidden;
  text-shadow: 2px 2px #e2e2e2;
}
.show-links {
  height: 200px;
}
.links a {
  background: white;
  color: grey;
  font-size: 1.1rem;
  text-transform: capitalize;
  letter-spacing: 2px;
  display: block;
  -webkit-transition: rgb(4, 169, 175);
  -o-transition: rgb(4, 169, 175);
  transition: rgb(4, 169, 175);
  font-weight: bold;
  padding: 0.75rem 0;
}
.links a:hover {
  color: rgb(4, 169, 175);
}

.links-social-container {
  height: 0;
  overflow: auto;
  text-shadow: 2px 2px #e2e2e2;
}

.links-social a {
  background: white;
  color: grey;
  font-size: 1.5rem;
  display: -webkit-flex;
  -webkit-transition: rgb(4, 169, 175);
  -o-transition: rgb(4, 169, 175);
  transition: rgb(4, 169, 175);
  font-weight: bold;
  padding: 0.75rem 0;
}

.links-social a:hover {
  color: rgb(4, 169, 175);
}

@media screen and (min-width: 768px) {
  nav {
    background: transparent;
  }
  .nav-center {
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
    border: none;
  }

  nav .links-social {
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-indent: 20px;
  }
  .links-container {
    height: auto !important;
  }
  .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .links a {
    background: transparent;
    color: white;
    font-size: 1.1rem;
    text-transform: capitalize;
    letter-spacing: 2px;
    display: block;
    -webkit-transition: rgb(4, 169, 175);
    -o-transition: rgb(4, 169, 175);
    transition: rgb(4, 169, 175);
    margin: 0 1rem;
    font-weight: bold;
    padding: 0;
  }
  .links a:hover {
    color: white;
  }

  .links-social-container {
    height: auto !important;
  }
  .links-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .links-social a {
    background: transparent;
    color: white;
    font-size: 1.25rem;
    text-transform: capitalize;
    display: -webkit-flex;
    -webkit-transition: rgb(4, 169, 175);
    -o-transition: rgb(4, 169, 175);
    transition: rgb(4, 169, 175);
    margin: 0 0.75rem;
    font-weight: bold;
    padding: 0;
  }
  .links-social a:hover {
    color: white;
  }

  .links-social-container {
    height: auto !important;
  }
}

/* hero */
header {
  min-height: 20vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 200, 207, 0.5)), to(rgba(0, 156, 177, 0.7))),
    url(/images/hiclipart.com\ \(2\).png) center/contain no-repeat;
  background: -o-linear-gradient(rgba(0, 200, 207, 0.5), rgba(0, 156, 177, 0.7)),
    url(/images/hiclipart.com\ \(2\).png) center/contain no-repeat;
  background: linear-gradient(rgba(0, 200, 207, 0.5), rgba(0, 156, 177, 0.7)),
    url(/images/hiclipart.com\ \(2\).png) center/contain no-repeat;
}

.banner .container .shadow {
  display: block;
  margin-top:100px;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.banner {
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .container h1 {
    font-size: 55px;
    color: white;
    text-shadow: 2px 2px grey;
    text-transform: uppercase;
  }
}

@media screen and (min-width: 768px) {
  .container p {
    color: white;
    max-width: 50rem;
    margin: 0 auto;
    margin-bottom: 1.25rem;
    font-weight: 500;
  }
}

.banner .container p {
  margin-top:20px;
  padding: 20px 10px 20px 10px;
  max-width: 45rem;
  font-size: 17px;
  background-color: rgba(126, 126, 126, 0.5);
  text-shadow: 2px 2px #575757;
  border-radius: 30px;
}

.banner .container p .text-line {
  color: rgb(0, 225, 255);
  text-shadow: 2px 2px 575757;
  font-size: 20px;
}

.banner .container .row i {
  text-align: center;
  color: rgb(175, 175, 175);
  text-shadow: 2px 2px rgb(219, 219, 219);
}

@media screen and (min-width: 768px) {
  .container p {
    max-width: 40rem;
  }
}

/* sections and title */
.title h2 {
  text-align:center;
  margin-top: 25px;
  color:  rgb(0, 223, 223);
  text-transform: uppercase;
}

.title h2:after {
  bottom: 0; 
  left: 0; 
  height: 50%; 
  width: 1px;
}

.contact {
  margin-top: 25px;
  margin-bottom: 25px;
}

.contact .form-layout {
  margin-top: 50px;
}

.services {
  margin-top: 50px;
  margin-bottom: 20px;
  display: -webkit-flex;
}

.services .container .title h2 {
  margin-top: 25px;
}

.services .container p {
  color: black;
  font-weight: bold;
}

.services .container h5 {
  color: black;
  font-weight: bold;
}

.services .row {
  margin-top:25px;
}

#portfolio {
  margin-top: 50px;
}

.portfolio {
  display:-webkit-flex;
}

.portfolio .row {
  margin-top:35px;
}

footer {
  background: black;
  padding: 5rem 1rem;
}
footer p {
  color: white;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 2px;
  margin-bottom: 0;
}

.portfolio .container a img:hover{
  opacity: 0.5;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}


.contact .container .btn-new {
  border: solid;
  display: -webkit-flex, -ms-flex, ;
  border-radius: 30px;
  padding: 5px 20px 5px 20px;
  text-shadow: 2px 2px rgb(218, 218, 218)
  }

.contact .container .btn-new:hover {
  background-color:rgb(119, 250, 250);
}

.top-link {
  font-size: 1.25rem;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  background: rgb(0, 190, 190);
  width: 2rem;
  height: 2rem;
  display: -ms-grid;
  display: grid;
  place-items: center;
  border-radius: rgb(255, 255, 255);
  color: white;
  -webkit-animation: bounce 2s ease-in-out infinite;
          animation: bounce 2s ease-in-out infinite;
  visibility: hidden;
  z-index: -100;
  border-radius: 10px;
}
.show-link {
  visibility: visible;
  z-index: 100;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-ms-viewport{width: device-width;}